.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px;
    gap: 5px; */
  }
  .login-info {
    margin-left: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header-title {
    margin-bottom: 15px;
    margin-top: 4px;
    color: white;
  }
  
  .header-button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border: 1px solid white;
    background-color: #40005d;
    color: white;
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .header-button:hover,
  .header-button:active {
    background-color: #510674;
    border-color: white;
  }
  
 